[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
install_search_all_sources = true

[packages]
sphinx = ">=4.0,<6,!=5.0.0"
myst-parser = "*"
rst2pdf = "*"
"sphinxcontrib.drawio" = "*"
sphinx-tabs = "*"
sphinx-toolbox = "*"
sphinx-autobuild = "*"
sphinx-substitution-extensions = "*"
"sphinxcontrib.plantuml" = "*"
cloud-sptheme = "*"
sphinxcontrib-plantuml = "*"
sphinx-design = "*"
sphinx-book-theme = "*"

[dev-packages]
